<h2>Tutorials</h2>

<%= link_to "Only View Tutorials With Comments", tutorials_with_comments_path %></br></br>

<ul class="list-group">
  <% @tutorials.each do |tutorial| %>
    <li class="list-group-item"><%= link_to tutorial.title, tutorial_path(tutorial) %>
     by: <%= tutorial.trainer.email %>
     <% if tutorial.trainer == current_trainer %>
       <%= link_to "Edit", edit_tutorial_path(tutorial) %>
       <%= link_to "Delete", tutorial, method: :delete, data: { confirm: "Are you sure you want to delete this tutorial?"} %>
     <% end %>
   </li>
  </br>
  <% end %>
</ul>
