<div class="container border">
  <div class="row">
    <div class="col-sm-8 tutorial-main">
      <div class="tutorial-post">
        <h2 class="tutorial-post-title"><%= @tutorial.title%></h2>
        <p>
          <%= @tutorial.content %>
        </p>
      </div>
    </div>
  </div>
</div>
</br>
<div class="container ">
  Link To Video: <%= link_to @tutorial.video_link, @tutorial.video_link %>
</div>
</br>
<div class="container">
  <%= link_to "Comments", tutorial_comments_path(@tutorial) %>
</div>
</br>

<%= render @tutorial.comments %>

<%= render partial: "comments/form", locals: { comment: @comment, tutorial: @tutorial } %>

<div class="container">
  <% if @tutorial.trainer == current_trainer %>
    <%= link_to "Edit Tutorial", edit_tutorial_path(@tutorial) %>
    <%= link_to "Delete Tutorial", @tutorial, method: :delete, data: { confirm: "Are you sure you want to delete this tutorial?"} %>
  <% end %>
</div>
