<div class="container border">
  <h2><%= @tutorial.title%></h2>
  <p><%= @tutorial.content %></p>
</div>
</br>
<div class="container video">
  <p>
    <% if !!@tutorial.video_link %>
      Link To Video: <%= link_to @tutorial.video_link, @tutorial.video_link %>
    <% end %>
  </p>
</div>
</br>

</br>

<div class="container load_comments">
  <%= link_to "Load Comments", tutorial_comments_path(@tutorial), :class => "load_tutorial_comments" %>
<div>

<div class="comments">
  <div class="container">
      <div class="panel panel-default">
        <div class="panel-body">
          <ol>
          </ol>
        </div><!-- /panel-body -->
      </div><!-- /panel panel-default -->
  </div><!-- /container -->
</div>

<div class="new_comment">
  <%= render partial: "comments/form", locals: { comment: @comment, tutorial: @tutorial } %>
</div>

<div class="container edit_delete ">
  <% if @tutorial.trainer == current_trainer %>
    <%= link_to "Edit Tutorial", edit_tutorial_path(@tutorial) %>
    <%= link_to "Delete Tutorial", @tutorial, method: :delete, data: { confirm: "Are you sure you want to delete this tutorial?"} %>
  <% end %>
</div>

<a href="#" class="js-next" data-id="<%=@tutorial.id%>">Next...</a>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-next").on("click", function(e) {
    e.preventDefault();
    var nextId = parseInt($(".js-next").attr("data-id")) + 1;
    $.getJSON("/tutorials/" + nextId + "/tutorial_data", function(data) {
      let video_link = 'Link To Video:' + '<a href="' + data["video_link"] + '">' + data["video_link"] + '</a>';
      $("div.container.border > h2").text(data["title"]);
      $("div.container.border > p").text(data["content"]);
      $("div.container.video > p").html(video_link);
      $("div.container.all_comments").html("");
      $("div.comments").html("");
      $("div.new_comment").html("");
      $("div.container.edit_delete").html("");
      $("div.container.load_comments").html("");
      // re-set the id to current on the link
      $(".js-next").attr("data-id", data["id"]);
    });
  });
});
</script>
