<!DOCTYPE html>
<html>
  <head>
    <title>DogTrainingTutorial</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/alerts' %>
    <% if !trainer_signed_in? %>
      <%= link_to "Sign Up", new_trainer_registration_path %>
      <%= link_to "Sign In", new_trainer_session_path %>
    <% else %>
      <%= link_to "Logout", destroy_trainer_session_path, :method => :delete %>
    <% end %>
    <%= yield %>
  </body>
</html>
